.alert-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
