.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: var(--maxWidth);
  padding: 1rem;
}

.hero {
  /* fallback, mainly visible when hero image is loading */
  background-color: #999;
  /* fallback when there is no hero image */
  /*background:
    radial-gradient(
      ellipse at 50% 50%,
      color(var(--colorSecondary) l(+ 10%)) 15%,
      var(--colorSecondary) 70%
    );*/
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 60vh;
  padding-top: 82px;
    /*background: linear-gradient(
    to bottom,
    var(--colorPrimaryDark),
    color(var(--colorPrimary) a(0.2))
  );*/
}
.heading {
  color: var(--colorNeutralLight);
  font-size: 3.5rem;
  line-height: 1.3;
  text-shadow:
    0 0 10px var(--colorNeutralDark),
    0 0 6px var(--colorNeutralDark),
    0 0 2px var(--colorNeutralDark)
  ;
  letter-spacing: 1px;
  margin: 5px 0;
}
.metaContainer {
  color: var(--colorNeutralLight);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow:
    0 0 10px var(--colorNeutralDark),
    0 0 6px var(--colorNeutralDark),
    0 0 2px var(--colorNeutralDark)
  ;
}
