.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: var(--maxWidth);
  padding: 1rem 0.75rem;
}

.hero {
  /* fallback, mainly visible when hero image is loading */
  background-color: var(--colorSecondary);
  /* fallback when there is no hero image */
  /*background:
    radial-gradient(
      ellipse at 50% 50%,
      color(var(--colorSecondary) l(+ 10%)) 15%,
      var(--colorSecondary) 70%
    );*/
}

.header {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  padding: 20vh 0;
  text-align: center;
  /*background: linear-gradient(
    to bottom,
    var(--colorPrimaryDark),
    color(var(--colorPrimary) a(0.2))
  );*/
}

.heading {
  color: var(--colorNeutralLight);
  font-size: 2.5rem;
  text-shadow:
    0 0 10px var(--colorNeutralDark),
    0 0 6px var(--colorNeutralDark),
    0 0 2px var(--colorNeutralDark)
  ;
  letter-spacing: 1px;
}

.cta {
  margin-top: 2rem;
}
