.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .list {
    justify-content: space-between;
  }
}
