.photosSection, .blogSection, .footerSection {
  background-color: #efefef;
}
.aboutSection .wrapper, .eventsSection .wrapper, .blogSection .wrapper {
  padding: 6rem 1rem;
}
.wrapper {
  margin: auto;
  max-width: var(--maxWidth);
  overflow: hidden;
}
.blogSection .wrapper {
  max-width: none;
}

.hero {
  /* fallback, mainly visible when hero image is loading */
  background-color: var(--colorSecondary);
  display: flex;
  flex-direction: column;
  padding: 5rem 0 3rem;
  height: 100vh;
  text-align: center;
}
.hero .wrapper {
  margin-left: 10vw;
  margin-top: 30vh;
  max-width: 500px;
  text-align: left;
}
.sectionHeading {
  margin-top: 0;
  margin-bottom: 2rem;
}
.heading {
  color: var(--colorNeutralLight);
  text-shadow: 0 2px 4px #111;
  letter-spacing: 1px;
  font-size: 3.5rem;
  line-height: 1.2;
}

.cta {
  margin-top: 2rem;
}

.page {
  display: flex;
  flex-direction: column;
}

.arrow {
  display: none;
}
.arrow svg {
  fill: white;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.pageContent {
  margin: 1rem 0;
}

.body {
  & a {
    color: var(--colorPrimary);
    transition: all 0.2s;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      opacity: 1;
      color: color(var(--colorPrimary) l(- 5%));
      border-bottom-color: var(--colorPrimary);
    }
  }

  /* handy for content */
  & img {
    max-width: 100%;
  }
  & p {
    margin: 0 0 1rem;
  }
}

.aboutSection {
  text-align: center;
  background-color: #f6f6f6;
  color: #555;
}
.aboutSection .wrapper {
  display: flex;
  flex-direction: column;
}
.aboutImage {
  flex: 1;
  & img {
    width: 80%;
    height: auto;
  }
}
.aboutTextContainer {
  flex: 1;
}
@media (min-width: 768px) {
  .aboutSection .wrapper {
    flex-direction: row;
  }
  .aboutImage {
    margin-right: 2rem;

    & img {
      width: 90%;
    }
  }

}
.aboutText {
  line-height: 2;
  font-size: 20px;
}

section h2 {
  text-align: center;
}

.buttonLink {
  display: block;
  margin-top: 20px;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
}

.photoHighlight .panelImage {
  background-attachment: fixed;
  height: 70vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 0 8px rgba(0,0,0,.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoHighlight .button {
  background-color: rgba(0,0, 0, 0.0);
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.eventsText {
  flex: 1;
  line-height: 2;
  font-size: 20px;
}
.eventsList {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.4;

  & p {
    font-size: 1rem;
  }
}

/*@media (min-width: 768px) {
  .eventsContainer {
    flex-direction: row;
  }
  .eventsText {
    margin-right: 4rem;
  }
}*/
