.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: var(--maxWidth);
  padding: 1rem 0.75rem;
}

.page {
  display: flex;
  flex-direction: column;
}

.pageContent {
  margin: 1rem 0;
}

.body {
  & a {
    color: var(--colorPrimary);
    transition: all 0.2s;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      opacity: 1;
      color: color(var(--colorPrimary) l(- 5%));
      border-bottom-color: var(--colorPrimary);
    }
  }

  /* handy for content */
  & img {
    max-width: 100%;
  }
}
